<!DOCTYPE html>

<html lang="en">

  <img src="https://wallpaperaccess.com/full/5169764.jpg" style="position:absolute; left: 450px; top: 20px" alt="lost_hat" width = "390px" height="340px">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
    inital-scale=1.0">
    <title>Anime</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="boxContainer">
        <form class="" action="/search/">
            <input class="search" name="query" type="search" aria-label="Search">
            <!-- <button class="searchButton"></button> -->
      </form>
    </div>
</body>

<body>
    <div class="container">
        <a href="/">
        <button class="btn-1">Dweeaboo</button>
        </a>
    </div>
</body>

<body>
    <div class="">
        <form action="/about" method="get">
          <button class="about">About</button>
          </form>
    </div>
  </body>
  
  
    <body>
      <div class="">
          <form action="/contact" method="get">
            <button class="contact">Contact</button>
            </form>
      </div>
    </body>
    
    <body>
      <div class="">
          <form action="/fundme" method="get">
            <button class="fund">Fund me</button>
            </form>
      </div>
    </body>

</html>